ul.codewords {
  list-style-type: none;
}

.codewords {
  display: flex;
  flex-wrap: wrap;

  width: 1200px;
}

  .codeword {
    box-sizing: border-box;

    width: 200px;
    height: 140px;
    margin: 10px;
    padding: 50px 0px;

    background-color: #eee;

    font-size: 30px;
    text-align: center;
  }

  .codeword.colour-neutral {
    background-color: #dde0dd;
  }

  .codeword.colour-red {
    background-color: #e77;
  }
  
  .codeword.colour-blue {
    background-color: #77e;
  }

  .codeword.colour-black {
    color: #eee;
    background-color: #333;
  }
  
  .codeword.uncovered {
    opacity: 0.2;
  }
