<!doctype html>
<html>
  <head>
    <title>Codenames - {{ code }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/game.css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h1>Codenames</h1>
    <ul class="codewords">
      {% for codename in codenames %}
        {% if player.spymaster %}
          <li class="codeword colour-{{ codename.colour }} {% if codename.guessed %}uncovered{% else %}covered{% end %}">
            {{ codename.word }}
          </li>
        {% else %}
          <li>{{ codename.word }}</li>
        {% end %}
      {% end %}
    </ul>
  </body>
</html>
